<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.morganestes.controls.sonos</string>
	<key>connections</key>
	<dict>
		<key>0C289704-F578-496D-87FE-B5FCAB88162F</key>
		<array/>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<array/>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4B6B5378-B7B9-483A-8097-15021C09266A</key>
		<array/>
		<key>C5D7D4C3-0AF4-488F-8E91-86DC7E6FC49E</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Morgan Estes</string>
	<key>description</key>
	<string>Basic controls for the Sonos system.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sonos Controls</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php sonos-controller.php {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sonos</string>
				<key>subtext</key>
				<string>Play or pause the current song.</string>
				<key>text</key>
				<string>Control the Sonos box</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>pause</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C5D7D4C3-0AF4-488F-8E91-86DC7E6FC49E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>stop</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0C289704-F578-496D-87FE-B5FCAB88162F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>play</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4B6B5378-B7B9-483A-8097-15021C09266A</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Uses the PHPSonos script (http://www.ip-symcon.de/wiki/PHPSonos) to send commands to a single Sonos music controller via SOAP to the built-in web service.

v0.1 - Pause and Play via individual scripts.</string>
	<key>uidata</key>
	<dict>
		<key>0C289704-F578-496D-87FE-B5FCAB88162F</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>4B6B5378-B7B9-483A-8097-15021C09266A</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>C5D7D4C3-0AF4-488F-8E91-86DC7E6FC49E</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://morganestes.me</string>
</dict>
</plist>
